body {
  background-color:rgb(227,190,66);
  border-style: solid;
  border-width: 8px;
  border-color:rgb(64,183,226);
}
     h1 {
      color:rgb(128,0,32);
      font-family: Impact;
      font-size: 70px;
      text-align: center;
    }

    .container {
      opacity: .75;
      height: 240px;

      }

      .reversed {
        opacity: .5;
        height: 220px;
      }
