body {
  background-color:rgb(227,190,66);
  border-style: solid;
  border-width: 8px;
  border-color:rgb(64,183,226);
  align: center;

      }

     h1 {
      color:rgb(128,0,32);
      font-family: Impact;
      font-size: 70px;
      text-align: center;


      }

    .container {
      opacity: 10;
      height: 200px;
      margin-right: 50px;
      margin-left:50px;
      margin-top: 5px;

      }

      .reversed {
        opacity: .75;
        height: 180px;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 20px;
        color: rgb(128,0,32)
/* having a somewhat difficult time with cascading. */
      
