
body  {
  background-color:rgb(227,190,66);
  border-style: solid;
  border-width: 8px;
  border-color:rgb(64,183,226);
  width: 800px;
  height: 800px;


      }

     h1 {
      color:rgb(128,0,32);
      font-family: Impact;
      font-size: 70px;
      text-align: center;
  }

    .container {
      opacity: 10;
      height: 50% !important;
      width: 100% !important;
      margin-right: auto;
      margin-left: auto;
      display: block;
      
      }

      .reversed {
        opacity: .75;
        height: 50% !important;
        width: 100% !important;
        margin-right: auto;
        margin-left: auto;
        display: block;
      }

      .frame {

        position: absolute;
        bottom: 50px;
        right: 20px;
        z-index: 1;

      }
