@font-face {
  font-family: 'Playfair_Display';
  src: url('https://fonts.googleapis.com/css?family=Playfair+Display');
  font-weight: normal;
  font-style: italic;
  font-kerning; normal;
  text-transform: uppercase;

}

@font-face {
  font-family: 'Noto_Serif';
  src: url('https://fonts.googleapis.com/css?family=Noto+Serif');
  font-weight: normal;
  font-style: normal;
  font-kerning: normal;

}
