@font-face {
  font-family: 'Playfair_Display';
  src: url('../fonts/PlayfairDisplay-italic.ttf')
  font-weight: normal;
  font-style: italic;
  font-kerning; normal;
  text-transform: uppercase;

}

@font-face {
  font-family: 'Noto_Serif';
  src: url('../fonts/NotoSerif-regular.ttf')
  font-weight: normal;
  font-style: normal;
  font-kerning: normal;

}
