body {
  background-color: #FDFDF1
}

@font-face{
  font-family: 'Josefin Sans';
  src: url('../fonts/JosefinSans-Bold.ttf') format('opentype');
  font-weight: normal;
  font-style; normal;

}
.headone {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  font-weight: normal;
  float: right;
  
}

.ladypicture {
  float: left;
  z-index: 5;
}
]
