
@font-face {
  font-family: 'Josefin Sans';
  src: url('../fonts/JosefinSans-ThinItalic.ttf') format('opentype');
  font-weight: normal;


}
body {
  background-color: #FDFDF1
}


.headone {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  font-style: Italic;
  position: absolute;
  left: 190px;
  top: 40px;
  z-index: 8;

}

.ladypicture {
  position: relative;
  left: 5px;
  top: 30px;
  z-index: 7;

  }

  .paragraph1 {
    position: relative;
    left: 300px;
    top: 80px;
    z-index: 9;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
    max-width: 650px;

    }

    .paragraph2 {
      position: relative;
      left: 300px;
      top: 100px;
      z-index:9;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 20px;
    }
