
@font-face {
  font-family: 'Josefin Sans';
  src: url('../fonts/JosefinSans-ThinItalic.ttf') format('opentype');
  font-weight: normal;


}

@font-face {
  font-family: 'Work Sans';
  src: url('../fonts/WorkSans-Light.ttf') format('opentype');
  font-weight: normal;

}

@@font-face {
  font-family: 'Londrina Solid';
  src: url('../fonts/LondrinaSolid-Black.ttf') format('opentype');
  font-weight: normal;
  }

body {
  background-color: #FDFDF1
}


.headone {
  font-family: 'Londrina Solid', sans-serif;
  font-size: 35px;
  font-style: Bold;
  position: absolute;
  left: 190px;
  top: 20px;
  z-index: 8;

}

.ladypicture {
  position: absolute;
  left: 5px;
  top: 25px;
  z-index: 7;

  }

  .paragraph1 {
    position: absolute;
    left: 250px;
    top: 110px;
    z-index: 10;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 32px;
    max-height: 36px;
    font-style: Italic;

    }

    .paragraph2 {
      position: absolute;
      left: 250px;
      top: 160px;
      max-height: 30px;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 20px;
      z-index: 9;


    }
     .bagvacpic {
       position: absolute;
       left: 300px;
       top: 200px;
       max-height: 65px;
       z-index: 11;
     }

     .paragraphhonest {
       position: absolute;
       left: 380px;
       top: 200px;
       max-height: 65px;
       z-index: 12;
       font-family: 'Work Sans', sans-serif;
       font-size: 12px;

     }
     .paragraphhonest p::first-line {
       color: #ED1701;
       font-size: 16px;

     }

     .vacdustpic {
       position: absolute;
       left: 300px;
       top: 265px;
       max-height: 65px;
       z-index: 13;
     }
      .paragraphglory {
      position: absolute;
      left: 380px;
      top: 265px;
      max-height: 65px;
      z-index: 14;
      font-family: 'Work Sans', sans-serif;
      font-size: 12px;
      }
      .paragraphglory p::first-line {
        color: #ED1701;
        font-size: 16px;
      }
      .throwoutpic {
        position: absolute;
        left: 300px;
        top: 335px;
        max-height: 65px;
        z-index: 15;
      }

      .paragraphwhee {
        position: absolute;
        left: 380px;
        top: 325px;
        max-height: 65px;
        z-index: 15;
        font-family: 'Work Sans', sans-serif;
        font-size: 12px;
      }

      .paragraphwhee p::first-line {
        color: #ED1701;
        font-size: 16px;
      }

      .copy {
        position: absolute;
        left: 300px;
        top: 440px;
        max-height: 65px;
        font-family: 'Georgia', serif;
        font-size: 12px;
        font-style: normal;
        z-index: 18;
      }

      .logo {
        position: absolute;
        left: 250px;
        bottom: 150px;
        max-height: 85px;
        z-index: 16;
      }

      .guarantee {
        position: absolute;
        right: 180px;
        bottom: 100px;

        z-index: 17;
      }

      .mailin {
        position: absolute;
        left: 280px;
        bottom: 5px;
        z-index: 22;
        font-size: 11px;
        font-family: 'Work Sans', sans-serif;
        padding: 1em;
        border: black;
        border-style: dashed;
        color: #303544;
      }

      .scene {
        position: absolute;
        left: 2px;
        top: 360px;
        max-height: 78px;
        max-width: 100px;
        z-index: 6;

      }

      .cleaner {
        position: absolute;
        left: 2px;
        top: 480px;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 10px;
        color: #303F44;


      }

      .attachment {
        position: absolute;
        left: 2px;
        bottom: 110px;

      }

      .optional {
        position: absolute;
        left: 2px;
        bottom: 5px;
        font-family: 'Josefin Sans', sans-serif;
        font-size: 10px;
        color: #303544
      }
